@use 'sass:math';
@import '../../../node_modules/modern-normalize/modern-normalize.css';
// @import './utils/mixins';

@import './presets/fonts';
@import './presets/vars';
@import './presets/def-presets';


//Libraries
@import './libs/ibg'; // Also include in JS
@import './libs/modal'; // Also include in JS
@import './libs/slick-stylize';

@import './presets/fonts';
@import './utils/def-slider';


@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base{
	body{
		@apply text-blue font-montserrat;
	}
}
@layer components{
	.hover-pulse{
		@apply hover:drop-shadow ease-in-out duration-300 hover:scale-[0.95] transition;
	}
	.scrollbar-x-xs{
		&::-webkit-scrollbar {
			height: 3px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background-color: #ddd;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background-color: #888;
			border-radius: 3px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			cursor: pointer;
			/*redifine styles like background and border radius*/
		}
	}
	.scrollbar-y-xs{
		&::-webkit-scrollbar {
			height: 3px;
		}

		/* Track */
		&::-webkit-scrollbar-track {
			background-color: #ddd;
		}

		/* Handle */
		&::-webkit-scrollbar-thumb {
			background-color: #888;
			border-radius: 3px;
		}

		/* Handle on hover */
		&::-webkit-scrollbar-thumb:hover {
			cursor: pointer;
			/*redifine styles like background and border radius*/
		}
	}
	.card {
		@apply bg-white rounded-2xl overflow-hidden;
		@apply flex flex-col;
		figure{
			@apply flex items-center justify-center;
			img{
				@apply w-full h-full object-cover;
			}
		}
	}
	.card-body {
		@apply p-8;
		@appty flex flex-col gap-2 flex-auto;
	}
	.card-side {
		@apply flex-row;
	}
	.btn{
		@apply p-4 rounded-full border-2 border-gold text-center font-roman text-xl font-bold;
		@apply md:p-2 md:text-lg;
		@apply hover:bg-gold hover:text-white transition cursor-pointer;
		@apply active:shadow-inner-md;
	}
	span.btn, a.btn{
		@apply inline-block;
	}

}
.banner-mask{
	mask: url(../images/banner-mask.svg) exclude;
	mask-size: contain;
}