<%- include('inc/header.html') %>
<div class="container my-3">
	<div class="flex justify-center items-center gap-2 m-auto mb-10 md:mb-5">
		<img src="../assets/images/left-decor.svg" alt="" class="w-5">
		<h2 class="title">Farm</h2>
		<img src="../assets/images/right-decor.svg" alt="" class="w-5">

	</div>
	<div class="border border-gold p-2 sm:p-1 basis-2/3 grow-0 rounded-2xl md:basis-full  m-auto">
		<img src="../assets/images/banner.png" alt=""
		     class="w-full max-w-full sm:p-2 rounded-2xl text-center overflow-hidden">
	</div>
	<div class="mb-20 mt-10">
		In the winter of 2014, our team got an announcement, in the newspaper "From hand to hand." In the vicinity of
		Sarrion Township, an old trout farm was leased. At that time, it was empty for almost 15 years.
		<br>
		rout Farm required radical reconstruction.
		<br>
		e improved the hydrostations by launching two electric turbines, conducted two warm water pipelines and two water
		pumps, installed a water treatment system, built a protection system, oxygen stations, freezers, created a
		vegetation workshop, preparatory and packaging workshops, finished product warehouses, as well as the wintering zone
		with water that cools to +3 degrees.
		<br>
		s a result, conditions were created that imitate the natural in natural habitats as much as possible. Temperature
		regime, changeability of seasons (spring, summer, autumn, winter), flow rates corresponding to river flow rates in
		nature and long wintering at lower temperatures.
		<br>
		<br>
		n such a way, the Esturion de Sarrion farm became the first (and, so far, the only one) throughout Europe, growing
		sturgeon in running water in ideal natural conditions.
	</div>
</div>
<%- include('inc/footer.html') %>
</body>

</html>