<%- include('inc/header.html') %>	
<div class="container my-3">
	<!-- Heading -->
	<div class="flex justify-between items-center flex-wrap mb-7">
		<div class="flex justify-start items-center gap-6 mb-5">
			<h2 class="text-gold font-roman text-4xl uppercase">икра Чёрная классик</h2>
			<img src="../assets/images/right-decor.svg" alt="" class="w-12">
			
		</div>
		<a class="flex items-center group/link">
			<img src="../assets/images/arrow-left.svg" alt="" class="w-6 mr-3 group-hover/link:-translate-x-2 duration-300 transition ease-out-wobble">
			<span class="underline text-sm font-medium">Вернуться в каталог</span>
		</a>
	</div>
	<!-- Orders -->
	<div class="flex flex-col gap-6 cart-slider-mobile pb-16 border-b border-neutral-200 mb-16">
		<div class="px-2 py-4">
			<div class="card card-compact bg-white shadow-lg rounded-2xl">
				<div class="card-body flex items-center justify-between gap-8">
					<div class="flex justify-between items-center gap-6 md:flex-wrap grow sm:justify-around">
						<div class="flex items-center md:basis-full mr-auto"">
							<div class="aspect-square rounded-2xl basis-[90px] sm:basis-[60px] shrink-0 overflow-hidden">
								<img src="../assets/images/product.png" alt="" class="w-full h-full object-center object-cover">
							</div>
							<div class="text-xl font-roman font-bold ml-10 uppercase">
								икра Чёрная классик икра Чёрная классик 
							</div>
						</div>
						<div class="text-xl whitespace-nowrap"><span class="font-medium">30</span> гр</div>
						<div class="flex items-center gap-2">
							<div class="text-xs cursor-pointer ease-out-wobble hover:shadow-xl"><i class="fa-solid fa-minus"></i></div>
							<input class="rounded-full border border-gold w-10 h-10 text-center font-medium" value="1">
							<div class="text-xs cursor-pointer ease-out-wobble hover:shadow-xl"><i class="fa-solid fa-plus"></i></div>
						</div>
						<div class="text-3xl font-semibold whitespace-nowrap">30 €</div>
						
					</div>
					<div class="">
						<div class="cross group/cross relative h-[30px] w-[30px] flex-col justify-center flex cursor-pointer">
							<div class="bg-gold h-[2px] w-2/3 transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75  rotate-[135deg] translate-y-[1px]"></div>
							<div class="bg-gold h-[2px] w-2/3 transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75  rotate-[-135deg] translate-y-[-1px]"></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="px-2 py-4">
			<div class="card card-compact bg-white shadow-lg rounded-2xl">
				<div class="card-body flex items-center justify-between gap-8">
					<div class="flex justify-between items-center gap-6 md:flex-wrap grow sm:justify-around">
						<div class="flex items-center md:basis-full mr-auto"">
							<div class="aspect-square rounded-2xl basis-[90px] sm:basis-[60px] shrink-0 overflow-hidden">
								<img src="../assets/images/product.png" alt="" class="w-full h-full object-center object-cover">
							</div>
							<div class="basis-1/3 text-xl font-roman font-bold ml-10 uppercase">
								икра Чёрная классик
							</div>
						</div>
						<div class="text-xl whitespace-nowrap"><span class="font-medium">30</span> гр</div>
						<div class="flex items-center gap-2">
							<div class="text-xs cursor-pointer ease-out-wobble hover:shadow-xl"><i class="fa-solid fa-minus"></i></div>
							<input class="rounded-full border border-gold w-10 h-10 text-center font-medium" value="1">
							<div class="text-xs cursor-pointer ease-out-wobble hover:shadow-xl"><i class="fa-solid fa-plus"></i></div>
						</div>
						<div class="text-3xl font-semibold whitespace-nowrap">30 €</div>
						
					</div>
					<div class="">
						<div class="cross group/cross relative h-[30px] w-[30px] flex-col justify-center flex cursor-pointer">
							<div class="bg-gold h-[2px] w-2/3 transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75  rotate-[135deg] translate-y-[1px]"></div>
							<div class="bg-gold h-[2px] w-2/3 transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75  rotate-[-135deg] translate-y-[-1px]"></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		<div class="px-2 py-4">
			<div class="card card-compact bg-white shadow-lg rounded-2xl">
				<div class="card-body flex items-center justify-between gap-8">
					<div class="flex justify-between items-center gap-6 md:flex-wrap grow sm:justify-around">
						<div class="flex items-center md:basis-full mr-auto">
							<div class="aspect-square rounded-2xl basis-[90px] sm:basis-[60px] shrink-0 overflow-hidden">
								<img src="../assets/images/product.png" alt="" class="w-full h-full object-center object-cover">
							</div>
							<div class="text-xl font-roman font-bold ml-10 uppercase">
								икра Чёрная классик
							</div>
						</div>
						<div class="text-xl whitespace-nowrap"><span class="font-medium">30</span> гр</div>
						<div class="flex items-center gap-2">
							<div class="text-xs cursor-pointer ease-out-wobble hover:shadow-xl"><i class="fa-solid fa-minus"></i></div>
							<input class="rounded-full border border-gold w-10 h-10 text-center font-medium" value="1">
							<div class="text-xs cursor-pointer ease-out-wobble hover:shadow-xl"><i class="fa-solid fa-plus"></i></div>
						</div>
						<div class="text-3xl font-semibold whitespace-nowrap">30 €</div>
						
					</div>
					<div class="">
						<div class="cross group/cross relative h-[30px] w-[30px] flex-col justify-center flex cursor-pointer">
							<div class="bg-gold h-[2px] w-2/3 transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75  rotate-[135deg] translate-y-[1px]"></div>
							<div class="bg-gold h-[2px] w-2/3 transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75  rotate-[-135deg] translate-y-[-1px]"></div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<!-- Coupons -->
	<div class="flex justify-between items-center flex-wrap md:justify-center gap-8 mb-5">
		<div class="relative w-fit h-fit m-4 mr-6">
			<div class="p-7 md:p-3 z-10 relative flex gap-7 items-center">
				<div class="group/input relative before:absolute before:w-[calc(100%_-16px*4)] before:border-b before:border-gold before:top-1 before:right-8 w-fit before:bg-gray-300 before:rounded-full before:transition before:ease-in-out before:scale-0 before:duration-500 before:hover:scale-100 before:focus-within:scale-100 before:origin-right after:absolute after:w-[calc(100%_-16px*4)] after:border-b after:border-gold after:bottom-1 after:left-8 after:bg-gray-300 after:rounded-full after:transition after:ease-in-out after:scale-0 after:duration-500 after:hover:scale-100 after:focus-within:scale-100 after:origin-left">
					<input type="" name="" placeholder="Введите промокод" class="border-stone-500 border text-stone-500 placeholder:opacity-90 py-5 px-7 md:p-3 rounded-full w-[360px] md:w-auto focus-visible:outline-none">
				</div>
				<a href="" class="btn uppercase md:hidden">применить</a>
				<a href="" class="hidden md:block text-gold">
					<i class="fa-solid fa-angles-right"></i>
				</a>
			</div>
			<div class="absolute drop-shadow-lg -inset-4 -right-6">
				<img src="../assets/images/arrow-card.svg#svgView(preserveAspectRatio(none))" alt="" class="w-full h-full">
			</div>
		</div>
		<div class="flex grow justify-between items-center gap-4 md:flex-wrap">
			<div class="text-3xl md:text-xl md:basis-full">
				<div class="my-4 flex justify-between">Итоговая сумма: <span class="font-semibold">70 €</span></div>
				<div class="my-4 flex justify-between">Итоговая сумма: <span class="font-semibold">70 €</span></div>
			</div>
			<a href="" class="btn uppercase grow max-w-xs md:max-w-full md:basis-full">Оплатить</a>
		</div>
	</div>
	<div class="flex items-center gap-4 font-bold flex-wrap">
		<div class="">Примененные промокоды:</div>
		<div class="flex gap-2 items-center text-gold">
			OBJJJ48
			<div class="cross group/cross relative h-[20px] w-[20px] flex-col justify-center flex cursor-pointer">
				<div class="bg-gold h-[2px] w-2/3 transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75  rotate-[135deg] translate-y-[1px]"></div>
				<div class="bg-gold h-[2px] w-2/3 transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75  rotate-[-135deg] translate-y-[-1px]"></div>
			</div>
		</div>
	</div>
</div>
<%- include('inc/footer.html') %>
</body>

</html>