<%- include('inc/header.html') %>	
<div class="container my-4">
	<div class="flex flex-wrap justify-center lg:after:hidden gap-7 ">
		<div class="card card-compact-xs bg-white border border-gold w-[360px]">
			<div class="card-body h-full flex flex-col">
				<figure class="aspect-landscape">
					<img src="../assets/images/product.png" alt="" class="w-full rounded-lg">
				</figure>
				<h2 class="font-roman text-2xl text-center md:text-base mt-3">
					Икра черная классик
				</h2>
			</div>
		</div>
		<div class="card card-compact-xs bg-white border border-gold w-[360px]">
			<div class="card-body h-full flex flex-col">
				<figure class="aspect-landscape">
					<img src="../assets/images/product.png" alt="" class="w-full rounded-lg">
				</figure>
				<h2 class="font-roman text-2xl text-center md:text-base mt-3">
					Икра черная классик
				</h2>
			</div>
		</div>
		<div class="card card-compact-xs bg-white border border-gold w-[360px]">
			<div class="card-body h-full flex flex-col">
				<figure class="aspect-landscape">
					<img src="../assets/images/product.png" alt="" class="w-full rounded-lg">
				</figure>
				<h2 class="font-roman text-2xl text-center md:text-base mt-3">
					Икра черная классик
				</h2>
			</div>
		</div>
		<div class="card card-compact-xs bg-white border border-gold w-[360px]">
			<div class="card-body h-full flex flex-col">
				<figure class="aspect-landscape">
					<img src="../assets/images/product.png" alt="" class="w-full rounded-lg">
				</figure>
				<h2 class="font-roman text-2xl text-center md:text-base mt-3">
					Икра черная классик
				</h2>
			</div>
		</div>
		<div class="card card-compact-xs bg-white border border-gold w-[360px]">
			<div class="card-body h-full flex flex-col">
				<figure class="aspect-landscape">
					<img src="../assets/images/product.png" alt="" class="w-full rounded-lg">
				</figure>
				<h2 class="font-roman text-2xl text-center md:text-base mt-3">
					Икра черная классик
				</h2>
			</div>
		</div>
		
	</div>
	
</div>
<%- include('inc/footer.html') %>
</body>

</html>