<%- include('inc/header.html') %>	
<div class="container">
	<span class="flex gap-2 pb-5 pt-2">
		<span class="after:w-1 after:h-1 after:rounded-full after:bg-gold after:inline-block flex items-center gap-2 last:after:hidden">
			<a href="" class="hover:text-gold transition">Home</a>
		</span>
		<span class="after:w-1 after:h-1 after:rounded-full after:bg-gold after:inline-block flex items-center gap-2 last:after:hidden">
			<a href="" class="hover:text-gold transition">Home</a>
		</span>
		<span class="after:w-1 after:h-1 after:rounded-full after:bg-gold after:inline-block flex items-center gap-2 last:after:hidden">
			<span>Home</span>
		</span>
	</span>
</div>
<div class="container">
	<div class="def-text">
		<h1>H1 title</h1>
		<h2>H2 title</h2>
		<h3>H3 title</h3>
		<h4>H4 title</h4>
		<h5>H5 title</h5>
		<p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Quaerat reprehenderit id facere deleniti, voluptatibus aperiam animi dolor officiis aliquam est quibusdam corrupti sunt repellendus, neque, amet non voluptas provident. Facere.</p>
		<ul>
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ul>
		<ol>
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ol>
	</div>
	
</div>
<%- include('inc/footer.html') %>
</body>

</html>