<%- include('inc/header.html') %>	
<div class="container">
	<span class="flex gap-2 pb-5 pt-2">
		<span class="after:w-1 after:h-1 after:rounded-full after:bg-gold after:inline-block flex items-center gap-2 last:after:hidden">
			<a href="" class="hover:text-gold transition">Home</a>
		</span>
		<span class="after:w-1 after:h-1 after:rounded-full after:bg-gold after:inline-block flex items-center gap-2 last:after:hidden">
			<a href="" class="hover:text-gold transition">Home</a>
		</span>
		<span class="after:w-1 after:h-1 after:rounded-full after:bg-gold after:inline-block flex items-center gap-2 last:after:hidden">
			<span>Home</span>
		</span>
	</span>
</div>
<section class="breadcrumbs">
    <div class="container">
        <span>
            <span>
                <a href="https://esturion.dev.marmadot.com/">Pagina de inicio</a>
            </span>
            <span class="breadcrumb_last" aria-current="page">
            Carro
            </span>
        </span>
    </div>
</section> 
<div class="container">
	<div class="def-text">
		<h1>H1 title</h1>
		<h2>H2 title</h2>
		<h3>H3 title</h3>
		<h4>H4 title</h4>
		<h5>H5 title</h5>
		<p>Lorem, ipsum dolor sit, amet consectetur adipisicing elit. Quaerat reprehenderit id facere deleniti, voluptatibus aperiam animi dolor officiis aliquam est quibusdam corrupti sunt repellendus, neque, amet non voluptas provident. Facere.</p>
		<ul>
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ul>
		<ol>
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
		</ol>
	</div>
	
</div>
<div class="container">
	<div class="item-slider">
		<a class="p-3 group/item">
			<div class="p-2 rounded-2xl border-gold border text-center group-hover/item:-translate-y-2 transition duration-300 ease-out-wobble">
				<img src="../assets/images/product.png" alt="" class="w-full aspect-square rounded-2xl overflow-hidden">

				<div class="text-2xl font-roman pt-2 mb-5  ">Trufa</div>
			</div>
		</a>
		
		<a class="p-3 group/item">
			<div class="p-2 rounded-2xl border-gold border text-center group-hover/item:-translate-y-2 transition duration-300 ease-out-wobble">
				<img src="../assets/images/product.png" alt="" class="w-full aspect-square rounded-2xl overflow-hidden">

				<div class="text-2xl font-roman pt-2 mb-5  ">Trufa</div>
			</div>
		</a>

		<a class="p-3 group/item">
			<div class="p-2 rounded-2xl border-gold border text-center group-hover/item:-translate-y-2 transition duration-300 ease-out-wobble">
				<img src="../assets/images/product.png" alt="" class="w-full aspect-square rounded-2xl overflow-hidden">

				<div class="text-2xl font-roman pt-2 mb-5  ">Trufa</div>
			</div>
		</a>

		<a class="p-3 group/item">
			<div class="p-2 rounded-2xl border-gold border text-center group-hover/item:-translate-y-2 transition duration-300 ease-out-wobble">
				<img src="../assets/images/product.png" alt="" class="w-full aspect-square rounded-2xl overflow-hidden">

				<div class="text-2xl font-roman pt-2 mb-5  ">Trufa</div>
			</div>
		</a>

		<a class="p-3 group/item">
			<div class="p-2 rounded-2xl border-gold border text-center group-hover/item:-translate-y-2 transition duration-300 ease-out-wobble">
				<img src="../assets/images/product.png" alt="" class="w-full aspect-square rounded-2xl overflow-hidden">

				<div class="text-2xl font-roman pt-2 mb-5  ">Trufa</div>
			</div>
		</a>

		<a class="p-3 group/item">
			<div class="p-2 rounded-2xl border-gold border text-center group-hover/item:-translate-y-2 transition duration-300 ease-out-wobble">
				<img src="../assets/images/product.png" alt="" class="w-full aspect-square rounded-2xl overflow-hidden">

				<div class="text-2xl font-roman pt-2 mb-5  ">Trufa</div>
			</div>
		</a>
	</div>
</div>

<div class="def-modal modal modal-active" id="excursion-modal">
	<div class="def-modal__outer-container container">
		<div class="def-modal__inner-container def-modal__inner-container--100 max-w-2xl">
			<div class="border border-gold p-2 rounded-2xl">
				<div class="def-modal__wrapper modal-window p-12 md:p-4  rounded-2xl shadow-lg">
					<div class="def-modal__top mb-2 px-2">
						<div class="def-modal__title text-2xl">
							<span class="modal-title">RESERVAR UNA VISITA</span>
						</div>
						<div class="group/cross relative h-[30px] w-[35px] flex-col justify-center flex cursor-pointer modal-cross">
							<div class="bg-gold h-[4px] w-full transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75 translate-y-[2px] rotate-[135deg]"></div>
							<div class="bg-gold h-[4px] w-full transition duration-300 rounded-sm ease-out-wobble group-hover/cross:scale-x-75 translate-y-[-2px] rotate-[-135deg]"></div>
						</div>
					</div>
					<div class="def-modal__content-wrapper modal-content-wrapper">
						<div class="cf7sg-container">
							<div id="cf7sg-form-order-excursion" class="cf7-smart-grid has-date has-grid key_order-excursion">
								<div class="wpcf7 js" id="wpcf7-f1875-o1" lang="es-ES" dir="ltr">
									<div class="screen-reader-response">
										<p role="status" aria-live="polite" aria-atomic="true"></p>
										<ul></ul>
									</div>
									<form action="/#wpcf7-f1875-o1" method="post" class="wpcf7-form init cf7sg-ready" aria-label="Formulario de contacto" novalidate="novalidate" data-status="init" id="wpcf7-cf7sg-form-order-excursion">
										<div style="display: none;">
											<input type="hidden" name="_wpcf7" value="1875">
											<input type="hidden" name="_wpcf7_version" value="5.9.3">
											<input type="hidden" name="_wpcf7_locale" value="es_ES">
											<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f1875-o1">
											<input type="hidden" name="_wpcf7_container_post" value="0">
											<input type="hidden" name="_wpcf7_posted_data_hash" value="">
											<input type="hidden" name="_wpcf7_key" value="order-excursion">
											<input type="hidden" name="_cf7sg_toggles" value="">
											<input type="hidden" name="_cf7sg_version" value="4.15.7">
											<input type="hidden" name="_wpnonce" value="03855ad52d">
											<input type="hidden" name="_wpcf7_lang" value="es">
											<input type="hidden" name="_wpcf7_recaptcha_response" value="">
										</div>
										<div class="container">
											<div class="row">
												<div class="columns full">
													<div class="container">
														<div class="row">
															<div class="columns full">
																<div class="field text required">
																	<label for=""><em>*</em></label><span class="wpcf7-form-control-wrap" data-name="username"><input required invlid size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" aria-required="true" aria-invalid="false" placeholder="Su nombre" value="" type="text" name="username"></span>
																	<p class="info-tip"></p>
																</div>
															</div>
														</div>
													</div>
													<div class="container">
														<div class="row">
															<div class="columns full">
																<div class="field tel required">
																	<label for=""><em>*</em></label><span class="wpcf7-form-control-wrap" data-name="userphone"><input size="40" class="wpcf7-form-control wpcf7-tel wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-tel form-control" aria-required="true" aria-invalid="false" placeholder="Su telefono" value="" type="tel" name="userphone"></span>
																	<p class="info-tip"></p>
																</div>
															</div>
														</div>
													</div>
													<div class="container">
														<div class="row">
															<div class="columns full">
																<div class="field email required">
																	<label for=""><em>*</em></label><span class="wpcf7-form-control-wrap" data-name="usermail"><input size="40" class="wpcf7-form-control wpcf7-email wpcf7-validates-as-required wpcf7-text wpcf7-validates-as-email form-control" aria-required="true" aria-invalid="false" placeholder="Su email" value="" type="email" name="usermail"></span>
																	<p class="info-tip"></p>
																</div>
															</div>
														</div>
													</div>
													<div class="container">
														<div class="row">
															<div class="columns one-half">
																<div class="field number">
																	<label for=""></label><span class="wpcf7-form-control-wrap" data-name="usercount"><input class="wpcf7-form-control wpcf7-number wpcf7-validates-as-number form-control" aria-invalid="false" placeholder="Número de personas" value="" type="number" name="usercount"></span>
																	<p class="info-tip"></p>
																</div>
															</div>
															<div class="columns one-half">
																<div class="field date form-group">
																	<label for=""></label><span class="wpcf7-form-control-wrap" data-name="userdate"><input class="wpcf7-form-control wpcf7-date wpcf7-validates-as-date form-control" aria-invalid="false" placeholder="Fecha de visita" value="" type="date" name="userdate" id="k_JPvW"></span>
																	<p class="info-tip"></p>
																</div>
															</div>
														</div>
													</div>
													<div class="container">
														<div class="row">
															<div class="columns full">
																<div class="field cf7sg-popup-box">
																	<label for=""></label><input class="wpcf7-form-control wpcf7-submit has-spinner btn btn-default btn-dark btn-block" id="excursions-form-send" type="submit" value="Enviar"><span class="cf7sg-popup display-none">Disabled! To enable, check the acceptance field.</span><span class="wpcf7-spinner"></span>
																	<p class="info-tip"></p>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<p class="recaptcha-text">Este sitio está protegido por reCAPTCHA y se aplican <a href="https://policies.google.com/privacy">la Política de privacidad</a> y los <a href="https://policies.google.com/terms"> Términos de servicio </a> de Google.</p>
										</div>
										<div class="cf7sg-response-output" aria-hidden="true">
											<div class="wpcf7-response-output"></div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<%- include('inc/footer.html') %>
</body>

</html>