<%- include('inc/header.html') %>

<div class="banner-mask relative -mt-[50px]">
	<img src="../assets/images/banner-mask.svg" alt="" class="w-full opacity-0 pointer-events-none">
	<div class="absolute inset-0 pointer-events-none">
		<img src="../assets/images/banner.png" alt="" class="ibg bg-cover bg-center">
		<div class="bg-black h-full"></div>
	</div>
	<div class="absolute inset-0 overflow-hidden">
		<div class="absolute top-[60%] left-0 right-0 m-auto w-[80%] aspect-square rounded-full border-2 border-white">
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[15deg]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] -rotate-[15deg]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[45deg]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] -rotate-[45deg]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
		</div>
		<div class="absolute top-[70%] left-0 right-0 m-auto w-[70%] aspect-square rounded-full border-2 border-white animate-spin-slow pointer-events-none">
			<div class="absolute inset-0 rotate-90">
				<div class="absolute -top-[4%] left-[45%] w-[10%]">
					<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
				</div>
			</div>
			<div class="absolute inset-0 rotate-180">
				<div class="absolute -top-[4%] left-[45%] w-[10%]">
					<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
				</div>
			</div>
			<div class="absolute inset-0 -rotate-90">
				<div class="absolute -top-[4%] left-[45%] w-[10%]">
					<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
				</div>
			</div>
			<div class="absolute -top-[4%] left-[45%] w-[10%]">
				<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
			</div>
		</div>
	</div>
	<div class="absolute inset-0 pointer-events-none">
		<img src="../assets/images/banner-mask-decor.svg" alt="" class="absolute bottom-0 w-full">
	</div>
</div>
<div class="container mt-16">
	<div class="text-center">
		<div class="flex justify-center items-center gap-6">
			<img src="../assets/images/left-decor.svg" alt="" class="w-12">
			<h2 class="text-gold font-roman text-5xl uppercase">Вкратце, о нас</h2>
			<img src="../assets/images/right-decor.svg" alt="" class="w-12">
			
		</div>
		<h3 class="text-xl uppercase mt-6">Философия осетровой фермы следует принципу максимального уважения к природе. </h3>	
	</div>
	<div class="">
		<p class="my-5">
			Ферма, находящаяся в горах провинции Арагон, расположена на стыке двух прекрасных горных рек, которые богаты минералами и полезными элементами, влияющими на натуральный природный вкус икры. Так же, к уникальности места добавляется источник тёплой воды из недр Земли. Созданы специальные условия, максимально имитирующие природные в местах естественного обитания: температурный режим, сменяемость сезонов (весна, лето, осень), скорости течения, соответствующие скоростям потока в реках, длительная зимовка при более низких температурах. За счет всего этого рыбы созревают в идеальных условиях аквакультуры, что позволяет икре в полной мере накопить те вещества, которые придают черной икре природный уникальный специфический вкус.  
			
		</p>
		<p class="my-5">
			Сотрудники нашей фермы - отличные профессионалы, которые фанатично преданы своему делу, поэтому вся продукция производится с особой заботой и любовью. Мы категорически против убийства животных, поэтому икра добывается посредством массирования живота рыбы. Плюс премиум корма, основанные на крилевой и рыбной муке и рыбьем жире, содержащие компоненты, являющиеся пищей осетровых в природе. 
			
		</p>
		Икра проходит тщательный предварительный отбор по размерам, цвету и форме икринок. По вкусу икринки нежные, чистые,  слабосоленые. Вкус икры обладает особой, необычайно шелковистой текстурой, а ее оболочка может быть настолько нежной, что готова раствориться во рту при малейшем прикосновении. 
		<p class="my-5">
			Многие отдают предпочтение черной икре не только из-за её уникальных вкусовых качеств, но и из-за полезных свойств. Так, продукт имеет самый высокий процент белка. Также икра содержит целый комплекс аминокислот, витаминов, калий, магний, железо. Польза от деликатеса действительно огромная.  
			
		</p>
		<p class="my-5">
			Спасибо, что посетили наш сайт.
			
		</p>
	</div>
</div>
<div class="relative overflow-hidden">
	<img src="../assets/images/mask-cover2.svg" alt="" class="w-full z-10 relative">
	<div class="absolute inset-0">
		<img src="../assets/images/banner2.png" alt="" class="w-full h-full -z-10 object-center object-cover">
	</div>
	<div class="flex items-center justify-center z-10 relative py-6 mt-6 px-4">
		<div class="border border-gold p-2 basis-2/3 grow-0 rounded-2xl md:basis-full max-w-4xl">
			<div class="bg-blue/60 backdrop-blur-sm p-4 rounded-2xl text-center flex flex-col gap-3">
				<div class="flex justify-center items-center mt-10">
					<img src="../assets/images/crown.svg" alt="" class="w-16">
				</div>
				<h2 class="text-gold font-roman text-5xl uppercase my-10 md:text-3xl">
					Будете у нас на Альбентосе – заходите в гости!
				</h2>
				<div class="my-1">
					<a class="btn text-white uppercase">ЗАказать экскурсию</a>
				</div>
				<div class="my-1">
					<a href="" class="text-stone-300">Подробнее</a>
				</div>
				<div class="my-1">
					<a href="" class="text-white"><i class="fa-solid fa-location-dot text-gold"></i> Barrio de la Escaleruela, s/n 44460, Sarrion (Teruel)</a>
				</div>
			</div>
		</div>
		
	</div>
</div>		
<!-- <div class="container">
	<div class="card shadow-2xl bg-white border-gold border-2">
		<figure>
			<img src="../assets/images/banner.png" alt="">
		</figure>
		<div class="card-body">
			Wow very cool
			<div class="btn">Купить</div>
		</div>
	</div>
	
</div> -->
<%- include('inc/footer.html') %>
</body>

</html>