<%- include('inc/header.html') %>
<a class="fixed top-[120px] right-6 rounded-full border-2 p-3 border-gold flex justify-center items-center z-20 bg-white aspect-square group/cart hover:rotate-6 hover:-translate-y-1 transition ease-out-wobble duration-200">
	<img src="../assets/images/cart.svg" class="w-full pr-1" alt="">
	<div class="absolute bg-gold aspect-square w-5 text-xs rounded-full -top-1 -right-1 text-white flex justify-center items-center group-hover/cart:rotate-[18deg] origin-bottom-left transition ease-out-wobble duration-300">1</div>
</a>
<div class="overflow-hidden relative -mt-[50px] md:-mt-[80px]">
	<!-- <img src="../assets/images/banner-mask.svg" alt="" class="w-full opacity-0 pointer-events-none md:hidden">
	<img src="../assets/images/banner-mask-mobile.svg" alt="" class="w-full  pointer-events-none hidden md:block"> -->
	<div class="w-full aspect-landscape md:aspect-square overflow-hidden relative sm:bg-white">
		<div class="banner-slider def-slider def-slider--full-h h-full z-10 relative sm:pb-[60px]">
			<div class="h-full relative">
				<div class="absolute inset-0 text-white z-10 mt-[50px]">
					<div class="container h-full sm:hidden">
						<div class="flex flex-col justify-center items-start h-full">
							
							<div class="text-[length:--text-size] lg:text-[length:calc((var(--text-size)_+_var(--text-mobile-size))/2)] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<div class="text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<a href="" class="inline-block text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] border-2 border-[color:--color-outline] px-4 py-2 rounded-full bg-[color:--color-bg] hover:bg-[color:--color-bg-hover] transition hover:text-[color:--color-hover] font-roman">Button</a>
							
						</div>
						
					</div>
				</div>
				<div class="desktop md:hidden h-full select-none">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
				<div class="mobile md:block hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
			</div>
			<div class="h-full relative">
				<div class="absolute inset-0 text-white z-10 mt-[50px]">
					<div class="container h-full sm:hidden">
						<div class="flex flex-col justify-center items-start h-full">
							
							<div class="text-[length:--text-size] lg:text-[length:calc((var(--text-size)_+_var(--text-mobile-size))/2)] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<div class="text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<a href="" class="inline-block text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] border-2 border-[color:--color-outline] px-4 py-2 rounded-full bg-[color:--color-bg] hover:bg-[color:--color-bg-hover] transition hover:text-[color:--color-hover] font-roman">Button</a>
							
						</div>
						
					</div>
				</div>
				<div class="desktop md:hidden h-full select-none">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
				<div class="mobile md:block hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
			</div>
			<div class="h-full relative">
				<div class="absolute inset-0 text-white z-10 mt-[50px]">
					<div class="container h-full sm:hidden">
						<div class="flex flex-col justify-center items-start h-full">
							
							<div class="text-[length:--text-size] lg:text-[length:calc((var(--text-size)_+_var(--text-mobile-size))/2)] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<div class="text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<a href="" class="inline-block text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] border-2 border-[color:--color-outline] px-4 py-2 rounded-full bg-[color:--color-bg] hover:bg-[color:--color-bg-hover] transition hover:text-[color:--color-hover] font-roman">Button</a>
							
						</div>
						
					</div>
				</div>
				<div class="desktop md:hidden h-full select-none">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
				<div class="mobile md:block hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
			</div>
		</div>
		<div class="sm:hidden absolute top-[74%] left-0 right-0 m-auto w-[84%] aspect-square rounded-full border-2 border-white z-20">
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[var(--angle)]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white text-[18px]font-semibold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[var(--angle)]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[var(--angle)]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[var(--angle)]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
		</div>
		<div class="sm:hidden absolute top-[82%] left-0 right-0 m-auto w-[75%] md:w-[60%] aspect-square rounded-full border-2 border-white animate-spin-slow pointer-events-none z-20">
			<div class="absolute inset-0 rotate-90">
				<div class="absolute -top-[4%] left-[45%] w-[10%]">
					<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
				</div>
			</div>
			<div class="absolute inset-0 rotate-180">
				<div class="absolute -top-[4%] left-[45%] w-[10%]">
					<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
				</div>
			</div>
			<div class="absolute inset-0 -rotate-90">
				<div class="absolute -top-[4%] left-[45%] w-[10%]">
					<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
				</div>
			</div>
			<div class="absolute -top-[4%] left-[45%] w-[10%]">
				<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
			</div>
		</div>

		<div class="absolute inset-0 -bottom-1 sm:bottom-[55px] z-20 pointer-events-none">
			<div class="absolute z-10 bottom-0 w-full md:hidden">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0.5 5.61333 1920 154.4" class="w-full">
					<path d="M 1920.5 42 C 1473.1 -39.87 1233.9 42 960.5 42 C 683.9 42 420.1 -39.87 0.5 42 C 0.5 60 0.5 160 0.5 160 H 1920.5 C 1920.5 60 1920.5 60 1920.5 42 Z" fill="#f7f7f7"/>
				</svg>
				<img src="../assets/images/banner-mask-decor.svg" alt="" class="absolute -top-1 w-full">
				
			</div>
			<div class="absolute z-10 bottom-0 w-full hidden md:block">
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 37">
					<path d="M375 0C287.617 16.6439 240.898 0 187.5 0C133.477 0 81.9531 16.6439 0 0C0 20.6825 0 37 0 37H375C375 37 375 17.419 375 0Z" fill="#fff"/>
				</svg>
				<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 1 375 8" class="absolute -top-1 sm:-top-0.5 w-full">
					<path d="M0 1.10827C86.1104 18.8647 131.411 1.10827 187.354 1.10827C243.296 1.10827 285.57 18.8647 375 1" stroke="#D3B096" stroke-width="1.3" fill="none"/>
				</svg>
			</div>
		</div>
		
	</div>
</div>
<div class="container hidden sm:block bg-white pb-4">
	<div class="banner-aux-slider">
		<div class="">
			<div class="flex flex-col text-center justify-center items-center gap-5">
								
				<div class="text-[length:--text-size] lg:text-[length:calc((var(--text-size)_+_var(--text-mobile-size))/2)] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
					<!-- font-montserrat -->
					Премиум коллекция
				</div>
				<div class="text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
					<!-- font-montserrat -->
					Премиум коллекция
				</div>
				<a href="" class="inline-block text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] border-2 border-[color:--color-outline] px-4 py-2 rounded-full bg-[color:--color-bg] hover:bg-[color:--color-bg-hover] transition hover:text-[color:--color-hover] font-roman">Button</a>
				
			</div>
			
		</div>
		<div class="">
			<div class="flex flex-col text-center justify-center items-center gap-5">
								
				<div class="text-[length:--text-size] lg:text-[length:calc((var(--text-size)_+_var(--text-mobile-size))/2)] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
					<!-- font-montserrat -->
					Премиум коллекция
				</div>
				<div class="text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
					<!-- font-montserrat -->
					Премиум коллекция
				</div>
				<a href="" class="inline-block text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] border-2 border-[color:--color-outline] px-4 py-2 rounded-full bg-[color:--color-bg] hover:bg-[color:--color-bg-hover] transition hover:text-[color:--color-hover] font-roman">Button</a>
				
			</div>
			
		</div>

		<div class="">
			<div class="flex flex-col text-center justify-center items-center gap-5 ">
								
				<div class="font-roman text-lg uppercase font-regular"> 
					Премиум коллекция 
					4 вида икры
				</div>
				<a href="" class="block w-full text-xs btn uppercase font-roman max-w-[200px] m-auto py-[15px] !border-[1.3px]">купить</a>
				
			</div>
			
		</div>
	</div>
</div>
<div class="hidden sm:block border-t border-gold border-b py-2 my-2 mt-5">
	<div class="container">
		<div class="flex justify-between gap-4 text-gold font-bold font-roman text-xl">
			<a class="hover:brightness-75 transition" >
				Икра
			</a>
			<a class="hover:brightness-75 transition" >
				Икра
			</a>
			<a class="hover:brightness-75 transition" >
				Икра
			</a>
			<a class="hover:brightness-75 transition" >
				Икра
			</a>
		</div>
	</div>
	
</div>
<div class="container mt-16">
	<div class="text-center">
		<div class="flex justify-center items-center gap-6">
			<img src="../assets/images/left-decor.svg" alt="" class="w-12">
			<h2 class="title">Вкратце, о нас</h2>
			<img src="../assets/images/right-decor.svg" alt="" class="w-12">
			
		</div>
		<h3 class="text-xl md:text-sm uppercase mt-6">Философия осетровой фермы следует принципу максимального уважения к природе. </h3>	
	</div>
	<div class="md:text-sm">
		<p class="my-5">
			Ферма, находящаяся в горах провинции Арагон, расположена на стыке двух прекрасных горных рек, которые богаты минералами и полезными элементами, влияющими на натуральный природный вкус икры. Так же, к уникальности места добавляется источник тёплой воды из недр Земли. Созданы специальные условия, максимально имитирующие природные в местах естественного обитания: температурный режим, сменяемость сезонов (весна, лето, осень), скорости течения, соответствующие скоростям потока в реках, длительная зимовка при более низких температурах. За счет всего этого рыбы созревают в идеальных условиях аквакультуры, что позволяет икре в полной мере накопить те вещества, которые придают черной икре природный уникальный специфический вкус.  
			
		</p>
		<p class="my-5">
			Сотрудники нашей фермы - отличные профессионалы, которые фанатично преданы своему делу, поэтому вся продукция производится с особой заботой и любовью. Мы категорически против убийства животных, поэтому икра добывается посредством массирования живота рыбы. Плюс премиум корма, основанные на крилевой и рыбной муке и рыбьем жире, содержащие компоненты, являющиеся пищей осетровых в природе. 
			
		</p>
		Икра проходит тщательный предварительный отбор по размерам, цвету и форме икринок. По вкусу икринки нежные, чистые,  слабосоленые. Вкус икры обладает особой, необычайно шелковистой текстурой, а ее оболочка может быть настолько нежной, что готова раствориться во рту при малейшем прикосновении. 
		<p class="my-5">
			Многие отдают предпочтение черной икре не только из-за её уникальных вкусовых качеств, но и из-за полезных свойств. Так, продукт имеет самый высокий процент белка. Также икра содержит целый комплекс аминокислот, витаминов, калий, магний, железо. Польза от деликатеса действительно огромная.  
			
		</p>
		<p class="my-5">
			Спасибо, что посетили наш сайт.
			
		</p>
	</div>
</div>
<div class="relative overflow-hidden">
	<img src="../assets/images/mask-cover2.svg" alt="" class="w-full z-10 relative">
	<div class="absolute inset-0">
		<img src="../assets/images/banner2.png" alt="" class="w-full h-full -z-10 object-center object-cover">
	</div>
	<div class="flex items-center justify-center z-10 relative py-6 mt-6 px-4">
		<div class="border border-gold p-2 basis-2/3 grow-0 rounded-2xl md:basis-full max-w-4xl">
			<div class="bg-blue/60 backdrop-blur-sm p-4 rounded-2xl text-center flex flex-col gap-3 md:gap-1">
				<div class="flex justify-center items-center mt-10 md:m-0">
					<img src="../assets/images/crown.svg" alt="" class="w-16">
				</div>
				<h2 class="title">
					Будете у нас на Альбентосе – заходите в гости!
				</h2>
				<div class="my-1">
					<a class="btn inline-block p-4 text-white uppercase md:text-xs">ЗАказать экскурсию</a>
				</div>
				<div class="my-1">
					<a href="" class=" text-stone-300 md:text-xs">Подробнее</a>
				</div>
				<div class="my-1">
					<a href="" class="text-white md:text-[9px]"><i class="fa-solid fa-location-dot text-gold"></i> Barrio de la Escaleruela, s/n 44460, Sarrion (Teruel)</a>
				</div>
			</div>
		</div>
		
	</div>
</div>		
<!-- <div class="container">
	<div class="card shadow-lg bg-white border-gold border-2">
		<figure>
			<img src="../assets/images/banner.png" alt="">
		</figure>
		<div class="card-body">
			Wow very cool
			<div class="btn">Купить</div>
		</div>
	</div>
	
</div> -->
<%- include('inc/footer.html') %>
</body>

</html>