<%- include('inc/header.html') %>
<a class="fixed top-[160px] right-12 rounded-full border-2 p-3 border-gold flex justify-center items-center z-20 bg-white aspect-square group/cart hover:rotate-6 hover:-translate-y-1 transition ease-out-wobble duration-200">
	<img src="../assets/images/cart.svg" class="w-full pr-1" alt="">
	<div class="absolute bg-gold aspect-square w-5 text-xs rounded-full -top-1 -right-1 text-white flex justify-center items-center group-hover/cart:rotate-[18deg] origin-bottom-left transition ease-out-wobble duration-300">1</div>
</a>
<div class="banner-mask relative -mt-[50px]">
	<img src="../assets/images/banner-mask.svg" alt="" class="w-full opacity-0 pointer-events-none md:hidden">
	<img src="../assets/images/banner-mask-mobile.svg" alt="" class="w-full  pointer-events-none hidden md:block">
	<div class="absolute inset-0 overflow-hidden">
		<div class="banner-slider def-slider def-slider--full-h h-full z-10 relative">
			<div class="h-full relative">
				<div class="absolute inset-0 text-white z-10 mt-[50px]">
					<div class="container h-full">
						<div class="flex flex-col justify-center items-start h-full">
							
							<div class="text-[length:--text-size] lg:text-[length:calc((var(--text-size)_+_var(--text-mobile-size))/2)] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<div class="text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<a href="" class="block text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] border-2 border-[color:--color-outline] px-4 py-2 rounded-full bg-[color:--color-bg] hover:bg-[color:--color-bg-hover] transition hover:text-[color:--color-hover] font-roman">Button</a>
							
						</div>
						
					</div>
				</div>
				<div class="desktop md:hidden h-full select-none">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
				<div class="mobile md:block hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
			</div>
			<div class="h-full relative">
				<div class="absolute inset-0 text-white z-10 mt-[50px]">
					<div class="container h-full">
						<div class="flex flex-col justify-center items-start h-full">
							
							<div class="text-[length:--text-size] lg:text-[length:calc((var(--text-size)_+_var(--text-mobile-size))/2)] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<div class="text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<a href="" class="block text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] border-2 border-[color:--color-outline] px-4 py-2 rounded-full bg-[color:--color-bg] hover:bg-[color:--color-bg-hover] transition hover:text-[color:--color-hover] font-roman">Button</a>
							
						</div>
						
					</div>
				</div>
				<div class="desktop md:hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
				<div class="mobile md:block hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
			</div>
			<div class="h-full relative">
				<div class="absolute inset-0 text-white z-10 mt-[50px]">
					<div class="container h-full">
						<div class="flex flex-col justify-center items-start h-full">
							
							<div class="text-[length:--text-size] lg:text-[length:calc((var(--text-size)_+_var(--text-mobile-size))/2)] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<div class="text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<a href="" class="block text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] border-2 border-[color:--color-outline] px-4 py-2 rounded-full bg-[color:--color-bg] hover:bg-[color:--color-bg-hover] transition hover:text-[color:--color-hover] font-roman">Button</a>
							
						</div>
						
					</div>
				</div>
				<div class="desktop md:hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
				<div class="mobile md:block hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
			</div>
			<div class="h-full relative">
				<div class="absolute inset-0 text-white z-10 mt-[50px]">
					<div class="container h-full">
						<div class="flex flex-col justify-center items-start h-full">
							
							<div class="text-[length:--text-size] lg:text-[length:calc((var(--text-size)_+_var(--text-mobile-size))/2)] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<div class="text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] font-roman"> 
								<!-- font-montserrat -->
								Премиум коллекция
							</div>
							<a href="" class="block text-[length:--text-size] md:text-[length:--text-mobile-size] text-[color:--text-color] mt-[length:--margin-top] font-[number:--text-weight] border-2 border-[color:--color-outline] px-4 py-2 rounded-full bg-[color:--color-bg] hover:bg-[color:--color-bg-hover] transition hover:text-[color:--color-hover] font-roman">Button</a>
							
						</div>
						
					</div>
				</div>
				<div class="desktop md:hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
				<div class="mobile md:block hidden h-full">
					<img src="../assets/images/banner.png" alt="" class="w-full h-full object-cover object-center">
				</div>
			</div>
		</div>
		<div class="sm:hidden absolute top-[75%] md:top-[80%] left-0 right-0 m-auto w-[80%] aspect-square rounded-full border-2 border-white z-20">
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[var(--angle)]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[var(--angle)]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[var(--angle)]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
			<div class="absolute top-0 bottom-0 left-[45%] w-[10%] rotate-[var(--angle)]">
				<div class="absolute top-0 left-1/2">
					<div class="bg-white rounded-full w-5 h-5 -translate-x-1/2 -translate-y-1/2"></div>
					<a class="block absolute bottom-full -translate-x-1/2 pb-3 text-white font-bold transition hover:-translate-y-2">
						Природа
					</a>
				</div>
			</div>
		</div>
		<div class="sm:hidden absolute top-[85%] md:top-[90%] left-0 right-0 m-auto w-[70%] md:w-[60%] aspect-square rounded-full border-2 border-white animate-spin-slow pointer-events-none z-20">
			<div class="absolute inset-0 rotate-90">
				<div class="absolute -top-[4%] left-[45%] w-[10%]">
					<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
				</div>
			</div>
			<div class="absolute inset-0 rotate-180">
				<div class="absolute -top-[4%] left-[45%] w-[10%]">
					<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
				</div>
			</div>
			<div class="absolute inset-0 -rotate-90">
				<div class="absolute -top-[4%] left-[45%] w-[10%]">
					<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
				</div>
			</div>
			<div class="absolute -top-[4%] left-[45%] w-[10%]">
				<img src="../assets/images/fish-decor.svg" alt="" class="w-full">
			</div>
		</div>
	</div>
	<div class="absolute inset-0 pointer-events-none">
		<img src="../assets/images/banner-mask-decor.svg" alt="" class="absolute bottom-0 w-full">
	</div>
</div>
<div class="hidden sm:block border-t border-gold border-b py-2 my-2 mt-5">
	<div class="container">
		<div class="flex justify-between gap-4 text-gold font-bold font-roman text-xl">
			<a class="hover:brightness-75 transition" >
				Икра
			</a>
			<a class="hover:brightness-75 transition" >
				Икра
			</a>
			<a class="hover:brightness-75 transition" >
				Икра
			</a>
			<a class="hover:brightness-75 transition" >
				Икра
			</a>
		</div>
	</div>
	
</div>
<div class="container mt-16">
	<div class="text-center">
		<div class="flex justify-center items-center gap-6">
			<img src="../assets/images/left-decor.svg" alt="" class="w-12">
			<h2 class="text-gold font-roman text-5xl md:text-2xl uppercase">Вкратце, о нас</h2>
			<img src="../assets/images/right-decor.svg" alt="" class="w-12">
			
		</div>
		<h3 class="text-xl md:text-lg uppercase mt-6">Философия осетровой фермы следует принципу максимального уважения к природе. </h3>	
	</div>
	<div class="md:text-sm">
		<p class="my-5">
			Ферма, находящаяся в горах провинции Арагон, расположена на стыке двух прекрасных горных рек, которые богаты минералами и полезными элементами, влияющими на натуральный природный вкус икры. Так же, к уникальности места добавляется источник тёплой воды из недр Земли. Созданы специальные условия, максимально имитирующие природные в местах естественного обитания: температурный режим, сменяемость сезонов (весна, лето, осень), скорости течения, соответствующие скоростям потока в реках, длительная зимовка при более низких температурах. За счет всего этого рыбы созревают в идеальных условиях аквакультуры, что позволяет икре в полной мере накопить те вещества, которые придают черной икре природный уникальный специфический вкус.  
			
		</p>
		<p class="my-5">
			Сотрудники нашей фермы - отличные профессионалы, которые фанатично преданы своему делу, поэтому вся продукция производится с особой заботой и любовью. Мы категорически против убийства животных, поэтому икра добывается посредством массирования живота рыбы. Плюс премиум корма, основанные на крилевой и рыбной муке и рыбьем жире, содержащие компоненты, являющиеся пищей осетровых в природе. 
			
		</p>
		Икра проходит тщательный предварительный отбор по размерам, цвету и форме икринок. По вкусу икринки нежные, чистые,  слабосоленые. Вкус икры обладает особой, необычайно шелковистой текстурой, а ее оболочка может быть настолько нежной, что готова раствориться во рту при малейшем прикосновении. 
		<p class="my-5">
			Многие отдают предпочтение черной икре не только из-за её уникальных вкусовых качеств, но и из-за полезных свойств. Так, продукт имеет самый высокий процент белка. Также икра содержит целый комплекс аминокислот, витаминов, калий, магний, железо. Польза от деликатеса действительно огромная.  
			
		</p>
		<p class="my-5">
			Спасибо, что посетили наш сайт.
			
		</p>
	</div>
</div>
<div class="relative overflow-hidden">
	<img src="../assets/images/mask-cover2.svg" alt="" class="w-full z-10 relative">
	<div class="absolute inset-0">
		<img src="../assets/images/banner2.png" alt="" class="w-full h-full -z-10 object-center object-cover">
	</div>
	<div class="flex items-center justify-center z-10 relative py-6 mt-6 px-4">
		<div class="border border-gold p-2 basis-2/3 grow-0 rounded-2xl md:basis-full max-w-4xl">
			<div class="bg-blue/60 backdrop-blur-sm p-4 rounded-2xl text-center flex flex-col gap-3">
				<div class="flex justify-center items-center mt-10">
					<img src="../assets/images/crown.svg" alt="" class="w-16">
				</div>
				<h2 class="text-gold font-roman text-5xl uppercase my-10 md:text-3xl">
					Будете у нас на Альбентосе – заходите в гости!
				</h2>
				<div class="my-1">
					<a class="btn text-white uppercase">ЗАказать экскурсию</a>
				</div>
				<div class="my-1">
					<a href="" class="text-stone-300">Подробнее</a>
				</div>
				<div class="my-1">
					<a href="" class="text-white"><i class="fa-solid fa-location-dot text-gold"></i> Barrio de la Escaleruela, s/n 44460, Sarrion (Teruel)</a>
				</div>
			</div>
		</div>
		
	</div>
</div>		
<!-- <div class="container">
	<div class="card shadow-lg bg-white border-gold border-2">
		<figure>
			<img src="../assets/images/banner.png" alt="">
		</figure>
		<div class="card-body">
			Wow very cool
			<div class="btn">Купить</div>
		</div>
	</div>
	
</div> -->
<%- include('inc/footer.html') %>
</body>

</html>