.def-slider{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-width: 0;
	.slick-list {
		flex: 100% 0 0;
		order: 0;
	}
	&--full-h{
		.slick-list{
			height: 100%;
		}
		.slick-track{
			height: 100%;
		}
		.slick-slide{
			height: 100%;
			&>div{
				height: 100%;
			}
		}
	}
}