// //FamilyName
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 200;
// 	src: url(../fonts/FamilyName/FamilyName-ExtraLight.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 300;
// 	src: url(../fonts/FamilyName/FamilyName-Light.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 400;
// 	src: url(../fonts/FamilyName/FamilyName-Regular.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 500;
// 	src: url(../fonts/FamilyName/FamilyName-Medium.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 600;
// 	src: url(../fonts/FamilyName/FamilyName-SemiBold.ttf);
// }
// @font-face {
// 	font-family: FamilyName;
// 	font-weight: 700;
// 	src: url(../fonts/FamilyName/FamilyName-Bold.ttf);
// }
@font-face {
	font-family: Montserrat;
	font-weight: 1 999;
	src: url(../fonts/Montserrat.ttf);
}